<div class="level">
  <h1 class="level-item has-text-centered is-size-1"><%= current_user.username %></h1>
</div>
<div class="level">
  <h1 class="level-item has-text-centered is-size-3"><%= current_user.email %></h1>
</div>
<div class="level">
  <h1 class="level-item has-text-centered is-size-3"><%= link_to "Follow Issues", issues_path, class: "button is-link" %></h1>
</div>