<div class="column is-4 is-offset-4">

	<div class="image is-square">
		<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/41077-200.png" alt="congress">
	</div>

	<div class="level">
		<h1 class="level-item has-text-centered is-size-1">CitizenSentinel</h1>
	</div>

</div>


<div class="column is-4 is-offset-4">

	<div class="card">
		<div class="card-header">
			<div class="card-header-title is-centered">
				Sign Up To Track Legislative Action
			</div>
		</div>
		<div class="card-content">
			<p class="is-centered">
				Do you know what members of congress are up to? Sign up to track representatives and the bills they craft, debate, and pass and become an engaged citizen today.
			</p>
		</div>
		<div class="card-footer">
			<a class="card-footer-item">Sign Up</a>
			<a class="card-footer-item">Sign In</a>	
		</div>
	</div>

	
</div>